## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build outputs
bin/
obj/
appsettings.Development.json
src/GFI_Upgrated.ServiceApi/logs/

## OS files
[Db]b
.DS_Store
Thumbs.db
